/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at top, #1e293b, #020617);
  color: #e2e8f0;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  backdrop-filter: blur(10px);
  background: rgba(2, 6, 23, 0.7);
  position: sticky;
  top: 0;
}

.logo {
  color: #38bdf8;
}

.navbar a {
  color: #38bdf8;
  margin-left: 15px;
  text-decoration: none;
  position: relative;
}

.navbar a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #facc15;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.3s;
}

.navbar a:hover::after {
  width: 100%;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 3rem;
  background: linear-gradient(90deg, #38bdf8, #facc15);
  -webkit-background-clip: text;
  color: transparent;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  border-radius: 30px;
  border: none;
  background: #38bdf8;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  transform: scale(1.1);
}

/* SECTIONS */
section {
  max-width: 900px;
  margin: auto;
  padding: 60px 20px;
}

/* HEADINGS */
h2 {
  margin-bottom: 15px;
  color: #38bdf8;
}

/* PROJECTS */
.project-card {
  background: rgba(30, 41, 59, 0.5);
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
}

/* SKILLS */
.skills-list {
  display: flex;
  gap: 10px;
  list-style: none;
}

.skills-list li {
  background: #38bdf8;
  color: #020617;
  padding: 8px 12px;
  border-radius: 20px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}